
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <title>Details</title>
    <link rel="stylesheet" href="displaydetails.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'right',
                html : true,
                content : ''
            });
        });
    </script>
</head>
<body>
<div class="navigation-bar sticky-top">

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">ART GALLERY</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">ABSTRACT</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">POP</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">SURREALISM</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">CONCEPTUAL</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">HYPERREALISM</a>
        </li>
        <li class="nav-item pill">
            <a class="nav-link" href="#">CONTACT US</a>
        </li>
        <li class="nav-item pull-right">
            <a class="nav-link" style="margin-left: " href="#">Sign out</a>
        </li>
        <li class="nav-item pull-right">
            <a href="" class="nav-link active"><i class="fa fa-user" style="color: #4fc4ff"></i>&nbsp;Name</a>
        </li>

    </ul>

</div>

<img src="images/painting3.jpg" style="height: 95vh;width: 100vw">

<div>
    <button style="background-color: transparent" class="circular-div first" type="button" data-toggle="popover" title="Author-Info">
        <p style="text-align: center;margin-top: 14%"><i style="font-size: 30px;color: #4fc4ff" class="fa fa-user"></i></p>
    </button>

    <button style="background-color: transparent" class="circular-div second" data-toggle="popover" title="Painting-Info" type="button" data-placement="right">
        <p style="text-align: center;margin-top: 14%"><i style="font-size: 30px;color: yellow" class="fa fa-info"></i></p>
    </button>

    <button style="background-color: transparent" class="circular-div third">
        <p style="text-align: center;margin-top: 12%"><i style="font-size: 30px;color: lawngreen" class="glyphicon glyphicon-shopping-cart"></i></p>
    </button>

    <button style="background-color: transparent" class="circular-div fourth">
        <p style="text-align: center;margin-top: 14%"><i style="font-size: 30px;color: red" class="fa fa-heart"></i></p>
    </button>
</div>

<div id="name">

</div>


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p style="font-size: 40px;color: white;text-align: center">
                    About ArtGallery
                </p>
                <p style="color: white;text-align: center">
                    ArtGallery is an online<br>
                    platform for displaying<br>
                    and buying paintings.<br>
                    It is designed and developed<br>
                    by BHASSAD DEVELOPERS
                </p>
            </div>
            <div class="col-sm-4">
                <p style="font-size: 40px;color: white;text-align: center">
                    Important Pages
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Return Policy</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Return</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Privacy Policy</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">License</a>
                </p>
            </div>
            <div class="col-sm-4">
                <p style="font-size: 40px;color: white;text-align: center">
                    Let us help you
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Your Account</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Your Orders</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">Prime Services</a>
                </p>
                <p style="text-align: center">
                    <a href="#" style="color: white">ArtGallery Assistant</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex;width: 250px;margin-left: auto;margin-right:auto;" class="container">
        <p style="color: darkgrey">2018 Copyright &nbsp;:&nbsp;</p>
        <a href="file:///C:/Users/Dell/.WebStorm2017.2/config/scratches/scratch.html" style="color: white">ArtGallery.com</a>
    </div>
    <p style="text-align: center;color: darkgrey">
        A product by BHASSAD DEVELOPERS
    </p>
    <div class="row" style="width: 250px;margin-left: auto;margin-right: auto" >
        <a href="#" class="icon" style="margin-left: auto; margin-right: auto"><i class="fa fa-facebook fa-fw fa-2x col"></i></a>
        <a href="#" class="icon" style="margin-left: auto; margin-right: auto"><i class="fa fa-google-plus fa-fw fa-2x col"></i></a>
        <a href="#" class="icon" style="margin-left: auto; margin-right: auto"><i class="fa fa-twitter fa-fw fa-2x col"></i></a>
        <a href="#" class="icon" style="margin-left: auto; margin-right: auto"><i class="fa fa-youtube-play fa-fw fa-2x col"></i></a>
        <a href="#" class="icon" style="margin-left: auto; margin-right: auto"><i class="fa fa-github fa-fw fa-2x col"></i></a>
    </div>
    <br><br>
</div>

</body>
</html>